*
!*/
# Allow .gitignore itself
!.gitignore
!Cargo.toml
!src/
!migrations/*.sql
!**/*.rs
!.env.template
!justfile
!configuration/*.yml
/target
!.cargo/config.toml
!.github/workflows/*.yml
!**/*.sql
!**/*.sh
!rustfmt.toml
!.pre-commit-config.yaml
!Dockerfile
!.dockerignore
!.sqlx/*.json
