*
!*/
# Allow .gitignore itself
!.gitignore
!Cargo.toml
!src/
!migrations/*.sql
!**/*.rs
!.env.template
!justfile
/target
!.cargo/config.toml
!.github/workflows/*.yml
!configuration.yml
!**/*.sql
!**/*.sh
!rustfmt.toml
!.pre-commit-config.yaml
